<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <legacy>
    <server>UMGCLASS/USFSHMFAP03/CALLNAT</server>
<!--    <broker-id>10.130.7.91:18024</broker-id> -->
    <broker-id>10.253.50.36:18024</broker-id> 
    <default-wait-time>25s</default-wait-time>
  </legacy>
  
  <email>
  	<admin-addr>Milestone</admin-addr>
  	<admin-name>Milestone</admin-name>
  	<subject>Milestone (Test) Application to MainFrame communication error!</subject>
  	<content-type>text/html</content-type>
  	<message>The Milestone Test application PFM Push is receiving the following error when connecting to the MainFrame:</message>
  	<host-server>usfsh-maildrop.amer.umusic.net</host-server>
  	<to-list>InventoryTeam@umusic.com</to-list>
  	<cc-list>milestone@umusic.com;chandra.soni@hp.com</cc-list>
  	<legacy-support>InventoryTeam@umusic.com</legacy-support>

  </email>
  
  <milestone>
  	<server>Test/ushpewviis114</server>
  </milestone>
  
  <!-- PFM push elements; equates to the form element display name  -->
  <!-- Important Note: asterics must defined in hex format 0x0026 -->
  <PFMPushElems>
	<element>printOption</element>
    <element>operating_company</element>
	<element>product_number</element>
	<element>prefix</element>
	<element>selectionNo</element>
	<element>music_line</element>
	<element>config_code</element>
	<element>repertoire_owner</element>
	<element>modifier</element>
	<element>repClass</element>
	<element>upc</element>
	<element>isPromo</element>
	<element>imprint</element>
	<element>title</element>
	<element>artist</element>
	<element>titleID</element>
	<element>sound_scan_code</element>
	<element>releaseDate</element>
	<element>export_flag</element>
	<element>super_label</element>
	<element>countries</element>
	<element>label_code</element>
	<element>spine_title</element>
	<element>company_code</element>
	<element>spine_artist</element>
	<element>projectID</element>
	<element>price_code</element>
	<element>digital_price_code</element>
	<element>compilation_code</element>
	<element>ValueAdded</element>
	<element>ParentalAdv</element>
	<element>BoxSet</element>
	<element># of Units</element>
	<element>imp_rate_code</element>
	<element>Sets Per Carton</element>
	<element>music_type</element>
	<element>suppliers</element>
	<element>encryptionFlag</element>
	<element>ImportIndicator</element>
	<element>price_point</element>
	
	<element>repertoire_class</element>
	<element>Return/Scrap Code</element>
	<element>PO Merge Code</element>
	<element>IMI Exempt Code</element>
	<element>Loose Pick Exempt</element>
	<element>Narm Extract Ind.</element>
	
	<element>status</element>
	
	<!-- Exclude families from Push -->
	<exclude-family>Canada</exclude-family>
	<exclude-family>Mexico</exclude-family>
	<exclude-family>Test Family</exclude-family>
	
  </PFMPushElems>
  
  <appSettings>
	 <auditLogActive>true</auditLogActive>
  </appSettings>

  
</configuration>


